* {
    margin: 0;
  }

head {
    font-size: 14px;
  }

body {
    padding-bottom: 1rem;
}

.titulo {
    text-align: center;
}

.campos {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Alinha horizontalmente ao centro */
    align-items: center;
}

.time {

    display: flex;
    justify-content: center; 
    align-items: center;
    margin: auto;
    padding: auto;
    width: 50%;
}

.nome {
    display: flex;
    flex-direction: row;
    justify-content: center; /* Alinha horizontalmente ao centro */
    align-items: center;
}

.letra {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Alinha horizontalmente ao centro */
    align-items: center;
    padding: 0.2rem;
}

.aviso {
    font-style: italic;
    font-size: 0.7rem;
    padding: 0.4rem;
}

.aviso2 {
    font-style: italic;
    font-size: 0.7rem;
}

.letras {
    display: flex;
    flex-direction: row;
    justify-content: center; /* Alinha horizontalmente ao centro */
    align-items: center;
}

.cuidado {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Alinha horizontalmente ao centro */
    align-items: center;
}

a {
    text-decoration: none;
    color: white;
}

.form-control {
    width: auto;
}

.cpf {
    display: flex;
    flex-direction: row;
    justify-content: center; /* Alinha horizontalmente ao centro */
    align-items: center;
}

#gerar-btn {
    margin-left: 0.5rem;
}

.feedback {
    margin-top: 1rem;
}

.cards-feedback {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    margin: 1.5rem;
}

.email {
    color: black;
    margin: 2rem;
    margin-left: 0;
}

