* {
    margin: 0;
  }

head {
    font-size: 14px;
  }



.titulo {
    text-align: center;
}

.campos {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Alinha horizontalmente ao centro */
    align-items: center;
}

.time {

    display: flex;
    justify-content: center; 
    align-items: center;
    margin: auto;
    padding: auto;
    width: 70%;
}

input {
    width: 20%;
}
